body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: rgb(255, 0, 0);
}

.backgroundimg, .pimg2, .pimg3 {
  width: 100%;
  position: relative;
  opacity: 0.95;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundimg {
  background-image: url(../assets/ClBgPhoto.jpg);
  min-height: 100%;
}

.pimg2 {
  background-image: url(../assets/longExsposure.jpg);
  min-height: 400px;
}

.pimg3 {
  background-color: #666;
  min-height: 400px;
  
}

/* applies to screens larger than 568px */
@media (min-width: 568px) {
  /* .backgroundimg.pimg2, .pimg3 { */
  .backgroundimg, .pimg2, .pimg3 {
    /* the next line is what causes the parallax effect
    fixed = parallax
    scroll = normal
    /* background-attachment: fixed; */
    background-attachment: fixed;
  }
}

.section {
  text-align: center;
  padding: 50px 80px 50px 100px;
  
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.Logo {
    position: center;
    top: 50%;
    width: 100%;
    }

    

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.8;
}




/*Portfolio*/

h1 {
    text-align: center;
    margin: 30px 0 50px;
    padding: 0px 80px 0px 100px;
}

.gallery {
    text-align: center;
    margin: 0 auto;
}

.gallery img {
    width:230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: .5s;
}
.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


/*Footer*/
footer{ 
    text-align: center;
    color: #ddd;
    background-color: #282e34;
}

